---
import Layout from '../../components/Layout.astro';
import en from '../../translations/en';
---
<Layout title={en.aboutTitle} description={en.aboutDescription} lang="en">
  <h1>{en.aboutTitle}</h1>
  <p>{en.aboutContent}</p>
</Layout>
