---
import Layout from '../../components/Layout.astro';
import en from '../../translations/en';
---
<Layout title={en.title} description={en.description} lang="en">
  <h1>{en.welcome}</h1>
  <p>{en.intro}</p>
</Layout>
