---
import Layout from '../../components/Layout.astro';
import fi from '../../translations/fi';
---
<Layout title={fi.aboutTitle} description={fi.aboutDescription} lang="fi">
  <h1>{fi.aboutTitle}</h1>
  <p>{fi.aboutContent}</p>
</Layout>
