---
import Layout from '../../components/Layout.astro';
import fi from '../../translations/fi';
---
<Layout title={fi.title} description={fi.description} lang="fi">
  <h1>{fi.welcome}</h1>
  <p>{fi.intro}</p>
</Layout>
